<%= render 'layouts/customers' %>

    <h3>注文情報確認</h3>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%# ship_address.each do |ship_address| %>
		<tr>
			<td>
				<%# ship_address.postal_code %>
			</td>
			<td>
				<%# ship_address.postal_code %>
			</td>
			<td>
				<%# ship_address.postal_code %>
			</td>
			<td>
				<%# ship_address.postal_code %>
			</td>
			<td>
			</td>
		</tr>
		<%# end %>
	</tbody>
</table>

<h3>支払方法</h3>
<%= @value %>

<h3>お届け先</h3>
<%= @address %>
