// Place all the styles related to the customers::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_delete-btn{
	margin: 25px 0 20px 90px ;
}
.delete-btn{
	width: 80px;
	height: 30px;
}
.next-btn{
    width: 250px;
	height: 70px;
	font-size: 25px !important;
	line-height: 60px !important;
}