// Place all the styles related to the customers::shipping_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul li {
    list-style: none;
}
W {
    margin-right: 10px;
    width:200px;
    float: left;
}
.table {
	    margin-top: 50px;

}