<%= render 'layouts/customers' %>
<div class="container">　<!-- layout/application.html.erb　に記載する -->
<div class="row">
	<div class="col-xs-3 genre_search">
        <h2>ジャンル検索</h2>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-7">
    	<div class="row">
    	    <div class="col-xs-9 site_description">
	            ようこそ、NaganoCakeへ！<br>
	            このサイトは、ケーキ販売のECサイトになります。<br>
	            会員でない方も商品の閲覧はできますが、<br>
	            購入には会員登録が必要となります。
	        </div>
	        <div class="col-xs-12">
	        	<h2>オススメ商品</h2>
	        	<div class="flex">
	        		<div class="">
	        			写真１<br>
	        			商品名１<br>
	        			価格
	        		</div>
	        		<div class="">
	        			写真２<br>
	        			商品名２<br>
	        			価格
	        		</div>
	        		<div class="">
	        			写真３<br>
	        			商品名３<br>
	        			価格
	        		</div>
	        		<div class="">
	        			写真４<br>
	        			商品名４<br>
	        			価格
	        		</div>
	        	</div>
	        	<div class="see_more">
	        	    <div><%= link_to 'もっと見る>(商品一覧のリンクをつける）'  %></div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
</div>　<!-- layout/application.html.erb　に記載する -->